/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
   padding: 20px;
 }

.home {
  display: grid;
  grid-row-gap: 10px;
  justify-content: center;
}

.game {
  display: grid;
  max-width: 500px;
  margin: auto;
  grid-row-gap: 20px;
}

div.ui.segment {
  margin: 0;
}

.enter-name {
  display: grid;
  grid-row-gap: 5px;
  justify-content: start;
  align-items: center;
}

.home-enter-name {
  display: grid;
  margin-bottom: 20px;
  grid-row-gap: 5px;
  justify-content: start;
  align-items: center;
}

.join-game {
  display: grid;
  grid-row-gap: 5px;
  justify-content: start;
  align-items: center;
}

.name-cell {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  justify-content: start;
  align-items: center;
}

.player-government-role {
  font-weight: bold;
}

.bold-navy {
  font-weight: bold;
  color: #070d78;
}

.bold-red {
  font-weight: bold;
  color: #ad0c00;
}

.or {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.hitler-header {
  display: flex;
  justify-content: center;
}

.join-error {
  display: flex;
  justify-content: center;
  color: #ad0c00;
}

.bold {
  font-weight: bold;
}

.voting {
  display: grid;
  width: 100%;
  grid-row-gap: 10px;
}

.policies-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.policies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
}

.deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.election-setup {
  display: grid;
  grid-row-gap: 10px;
}

.policy-card {
  display: grid;
  height: 110px;
  width: 80px;
  grid-template-rows: 2fr 1fr;

  font-size: 20px;
  font-family: 'Germania One', cursive;

  justify-content: center;
  justify-items: center;
  align-items: center;
}

.policy-label { align-self: start; }

.liberal {
  color: #2391cc;
}

.fascist {
  color: #e34017;
}

.ui.basic.button.card-button {
  display: flex;
  height: 110px;
  width: 80px;
  margin: 0;
  padding: 0;
  border: 1px solid gray;
  border-radius: 10px;
}

.ui.basic.button.card-button.selected {
  border: 4px solid gray;
}
.ui.basic.button.card-button.liberal {
  border-color: #2391cc;
}
.ui.basic.button.card-button.fascist {
  border-color: #e34017;
}

.policy-draw {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-auto-columns: 1fr 1fr;
}

.policy-container {
  display: grid;
  grid-row-gap: 10px;
}

.policy-header {
  text-align: center;
  font-weight: bold;
}


.emoji {
  font-size: 40px;
}

.log-back-in {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 10px;
  align-items: center;
}
