/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
   padding: 20px;
 }

.home {
  display: grid;
  grid-row-gap: 10px;
  justify-content: center;
}

.game {
  display: grid;
  grid-row-gap: 20px;
}

.enter-name {
  display: grid;
  grid-row-gap: 5px;
  justify-content: start;
  align-items: center;
}

.home-enter-name {
  display: grid;
  margin-bottom: 20px;
  grid-row-gap: 5px;
  justify-content: start;
  align-items: center;
}

.join-game {
  display: grid;
  grid-row-gap: 5px;
  justify-content: start;
  align-items: center;
}

.name-cell {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  justify-content: start;
  align-items: center;
}

.bold-navy {
  font-weight: bold;
  color: #070d78;
}

.you {
  font-weight: bold;
  color: #ad0c00;
}

.or {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.hitler-header {
  display: flex;
  justify-content: center;
}

.join-error {
  display: flex;
  justify-content: center;
  color: #ad0c00;
}

.bold {
  font-weight: bold;
}

.voting {
  display: grid;
  width: 100%;
  grid-row-gap: 10px;
}
